# Supabase Config
NEXT_PUBLIC_SUPABASE_URL=seu_projeto_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=sua_chave_anonima_supabase

# Credenciais de Admin
ADMIN_USERNAME=nome_usuario_admin
ADMIN_PASSWORD=senha_admin
